<div class="navbar-end">
  <div class="navbar-item">
    <div class="buttons">
      <div class="dropdown is-active" style="top: -4px">
        <div class="dropdown-trigger">
          <input #searchUser class="input is-link" type="text" placeholder="Invite user" (keyup)="findAllUserByUsername(searchUser.value)">
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu" *ngIf="searchUser.value">
          <div class="dropdown-content">
            <span *ngFor="let user of users" class="dropdown-item" (click)="selectUser(searchUser, user)">
              {{user.username}}({{user.nickname}})
            </span>
          </div>
        </div>
      </div>


      <button class="button is-primary" (click)="showModal()">
        <i class="fas fa-user-plus"></i>
        Invite
      </button>
    </div>
  </div>
</div>
<section class="main-content columns is-fullheight">

  <aside class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile">
    <ul class="menu-list">
      <li>
        <a routerLink="/trello/workspaces/{{workspace.id}}" class="is-active">
          <span class="icon"><i class="fab fa-trello logo-icon"></i></span> Board
        </a>
      </li>
      <li>
        <a routerLink="/trello/workspaces/{{workspace.id}}/members" class="">
          <span class="icon"><i class="fa fa-table"></i></span> Members
        </a>
      </li>
      <li>
        <a routerLink="/trello" class="">
          <span class="icon"><i class="fas fa-briefcase"></i></span> Work Space
        </a>
      </li>
    </ul>
  </aside>
  <div class="container column is-10" >
    <div class="user-container" *ngFor="let member of workspace.members">
      <div class="user-info">
        <div>
          <img class="user-img" src="{{member.image}}">
        </div>
        <div class="user-name">
          <h2 class="user-nickname">{{member.nickname}}</h2>
          <h6 class="user-username">@{{member.username}}</h6>
        </div>
      </div>
      <div>
        <button class="button is-primary" (click)="showModal()">
          <i class="fas fa-user-plus"></i>
          Invite
        </button>
      </div>
    </div>
  </div>
</section>

<div class="modal" id="modal-add-member">
  <div class="modal-background"></div>
  <div class="modal-card">
    <section class="modal-card-body" style="min-height: 200px">
      <div>
        <div style="padding: 16px 10px">
          <span class="list-user-added"  *ngFor="let member of addUserList">@{{member.username}}</span>
        </div>
        <div class="control" style="display: flex">
          <input #searchUser class="input is-focused" type="text" placeholder="Focused input" (keyup)="findAllUserByUsername(searchUser.value)">
          <button class="button is-primary" (click)="updateWorkspace()">
            <i class="fas fa-user-plus"></i>
            Invite
          </button>
        </div>

        <div>
          <span  class="list-user" (click)="selectUser(searchUser,user)" *ngFor="let user of users">{{user.username}}</span>
        </div>
      </div>
    </section>

  </div>
</div>



