<div class="root">
  <div class="navbar">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name has-gradient-text">Trello Hope</h1>
      </div>
    </div>
  </div>

  <div class="board">

    <div class="board-wrapper">


      <div class="board-columns" cdkDropListGroup>
        <!--column-->
        <div class="board-column"
             *ngFor="let column of columns"
             cdkDropList
             [cdkDropListData]="column.card"
             (cdkDropListDropped)="dropCard($event, column)">
          <div class="column-title">{{column.title}}</div>

          <div class="tasks-container"  >
            <div class="task" *ngFor="let card of column.card" cdkDrag [cdkDragData]="column">{{card.content}}</div>
          </div>


        </div>
      </div>

    </div>

  </div>

</div>

<!--<div class="board-wrapper" cdkDropListGroup>-->


<!--  <div class="board-columns" cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="dropColumn($event)">-->
<!--      <div class="board-column"-->
<!--           *ngFor="let column of columns"-->
<!--           cdkDrag-->
<!--           cdkDropList-->
<!--           [cdkDropListData]="column.card"-->
<!--           (cdkDropListDropped)="dropCard($event, column)">-->
<!--        <div class="column-title">{{column.title}}</div>-->

<!--        <div class="tasks-container"  >-->
<!--          <div class="task" *ngFor="let card of column.card" cdkDrag [cdkDragData]="column">{{card.content}}</div>-->
<!--        </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
