<div class="container" id="container">
  <div class="form-container sign-in-container">
    <form *ngIf="!divNewPassword" [formGroup]="conFirmForm" (ngSubmit)="confirm()">
      <h1>Forgot Password ?</h1>
      <input type="email" formControlName="username" placeholder="Enter Your User Name" />
      <input type="email" formControlName="email" placeholder="Enter Your Email" />
      <button type="submit">Confirm</button>
    </form>

    <form *ngIf="divNewPassword" [formGroup]="newConFirmForm" (ngSubmit)="changeNewPassword(user.id)">
      <h1>Forgot Password ?</h1>
<!--      password-->
      <input type="password" formControlName="password" placeholder="Enter Your New Password" />
      <div class="col alert alert-danger" role="alert"
           *ngIf="password?.errors?.required && password?.touched">
        Password must be entered!
      </div>
      <div class="col alert alert-danger" role="alert"
           *ngIf="password?.errors?.pattern">
        Minimum eight characters, at least one uppercase letter, one lowercase letter and one number!
      </div>
<!--      confirm password-->
      <input type="password" [(ngModel)]="confirmPassword" placeholder="Confirm password Password" />
      <div class="col alert alert-danger" role="alert"
           *ngIf="!isConfirmPassword">
        Wrong password!
      </div>
      <button class="confirm-button" type="submit" [disabled]="newConFirmForm.invalid">Confirm</button>
    </form>

  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-right">
        <h1>Forgot your password!</h1>
        <p>Enter your personal name details to get password back</p>
        <button type="submit" class="ghost" id="signUp" routerLink="/login">Login</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
<!--<pre>-->
<!--  {{newConFirmForm.value | json}}-->
<!--</pre>-->
<!--<pre>-->
<!--  {{password?.errors?.pattern}}-->
<!--</pre>-->
