<div class="container" id="container">

  <div class="form-container sign-up-container">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <h1>Create Account</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>or use your email for registration</span>
      <input type="text" formControlName="username" placeholder="User Name" />
      <div class="col alert alert-danger" role="alert"
           *ngIf="username?.errors?.minlength">
        Name must be at least 6 characters long!
      </div>
      <input type="password" formControlName="password" placeholder="Password" />
      <input type="text" formControlName="nickname" placeholder="Nick Name" />
      <button>Sign Up</button>
    </form>
  </div>

  <div class="overlay-container">
    <div class="overlay">

      <div class="overlay-panel overlay-right">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button class="ghost" id="signIn" (click)="login()">Sign In</button>
      </div>

    </div>
  </div>
</div>
