<div class="nav">
    <span class="icon-item">
      <a class="icon-link"><i class="fas fa-bars"></i></a>
    </span>
  <span class="icon-item">
      <a routerLink="/trello" class="icon-link"><i class="fas fa-home"></i></a>
    </span>
  <span class="icon-item">
      <a routerLink="/trello" class="icon-link">
        <svg class="fa-board" role="presentation" focusable="false" viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M3 5C3 3.89543 3.89543 3 5 3H19C20.1046 3 21 3.89543 21 5V19C21 20.1046
           20.1046 21 19 21H5C3.89543 21 3 20.1046 3 19V5ZM5 6C5 5.44772 5.44772 5 6 5H10C10.5523 5 11 5.44772 11 6V16C11 16.5523
           10.5523 17 10 17H6C5.44772 17 5 16.5523 5 16V6ZM14 5C13.4477 5 13 5.44772 13 6V12C13 12.5523 13.4477 13 14 13H18C18.5523
            13 19 12.5523 19 12V6C19 5.44772 18.5523 5 18 5H14Z" fill="currentColor">
          </path>
        </svg>
      </a>
    </span>

  <div class="nav-brand-start">
    <div class="nav-item-start">
      <h1><i class="fab fa-trello logo-icon"></i>Trello Hope</h1>
    </div>
  </div>

  <div class="icon-item" *ngIf="currentUser">
    <a class="icon-link"><i class="fas fa-plus"></i></a>
  </div>
  <div class="icon-item" *ngIf="currentUser">
    <a class="icon-link"><i class="fab fa-plus"></i></a>
  </div>
  <div class="icon-item" *ngIf="currentUser">
    <a  class="icon-link"><i class="fas fa-bell"></i></a>
  </div>
  <div class="icon-item" *ngIf="currentUser">
    <div class="dropdown is-hoverable is-right">
      <div class="dropdown-trigger">
        <a href="#" class="icon-link" aria-haspopup="true" aria-controls="dropdown-menu4">
          <img src="{{user.image}}" class="img-circle"/></a>
      </div>
      <div class="dropdown-menu" id="dropdown-menu4" role="menu">
        <div class="dropdown-content">
          <div href="#" class="dropdown-item">
            <div>
              <img src="{{user.image}}" class="user-img img-circle"/>
            </div>
            <div class="user">
              <div class="username">
                {{currentUser.username}}
              </div>
              <span class="nickname">
                {{user.nickname}}
              </span>
            </div>
          </div>
          <a routerLink="/trello/information" class="dropdown-item">
            Modifiers
          </a>
          <a class="dropdown-item">
            Components
          </a>
          <a class="dropdown-item">
            Layout
          </a>
          <hr class="dropdown-divider">
          <a class="dropdown-item" (click)="logout()">
            Logout
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

