<section class="main-content columns is-fullheight">

  <aside class="column is-2 is-narrow-mobile is-fullheight section is-hidden-mobile">
    <ul class="menu-list">
      <li>
        <a href="#" class="is-active">
          <span class="icon"><i class="fab fa-trello logo-icon"></i></span> Board
        </a>
      </li>
      <li>
        <a href="#" class="">
          <span class="icon"><i class="fa fa-table"></i></span> Template
        </a>
      </li>
      <li>
        <a href="#" class="">
          <span class="icon"><i class="fas fa-briefcase"></i></span> Work Space
        </a>
      </li>
    </ul>
  </aside>

  <div class="container column is-10">
<!--    Board-->
    <div class="title-board">
      <h1> <i class="far fa-clipboard"></i>Your Boards</h1>
    </div>
    <div class="section-board">
      <div class="card" *ngFor="let board of yourBoards" routerLink="/trello/boards/{{board.id}}">
        <div class="card-header"><p class="card-header-title">{{board.title}}</p></div>
        <div class="card-content"><div class="content">
          id: {{board.id}}<br>
          owner: {{board.owner}}
        </div></div>
      </div>
      <app-trello-add></app-trello-add>
    </div>
    <div class="title-board">
      <h1> <i class="far fa-clipboard"></i>Shared Boards</h1>
    </div>
    <div class="section-board">
      <div class="card" *ngFor="let board of sharedBoards">
        <div class="card-header"><p class="card-header-title">{{board.title}}</p></div>
        <div class="card-content"><div class="content">
          id: {{board.id}}<br>
          owner: {{board.owner}}
        </div></div>
      </div>
    </div>

<!--    Work Space-->
    <div class="title-board">
      <h1><i class="fas fa-briefcase"></i>Your Workspace</h1>
    </div>
    <div class="section-board">
      <div class="card">
        <div class="card-header"><p class="card-header-title">Header</p></div>
        <div class="card-content"><div class="content">Content</div></div>
      </div>
      <br />

      <div class="card is-hidden1">
        <div class="card-header"><p class="card-header-title">Header</p></div>
        <div class="card-content"><div class="content">Content</div></div>
      </div>
      <br />

      <div class="card is-hidden1">
        <div class="card-header"><p class="card-header-title">Header</p></div>
        <div class="card-content"><div class="content">Content</div></div>
      </div>
      <br />

      <div class="card is-hidden1">
        <div class="card-header"><p class="card-header-title">Header</p></div>
        <div class="card-content"><div class="content">Content</div></div>
      </div>

    </div>
  </div>


</section>
